file-stashes:
  image: file-stashes:latest
  container_name: app
  restart: always
  links:
    - mysql
    - redis
  environment:
    STAGE: prod
    HOSTNAME:
    AWS_ECS_CLUSTER_NAME:
    AWS_ECS_SERVICE_NAME:
    SEKRETS_KEY:

mysql:
  image: mysql:5.7
  container_name: mysql
  restart: always
  ports:
    - 3306:3306
  volumes:
    - <path_to_mysql_local_directory>:/var/lib/mysql
  environment:
    MYSQL_ROOT_PASSWORD:

redis:
  image: redis:5.0.6
  container_name: redis
  restart: always
  ports:
    - 6379:6379
  volumes:
    - <path_to_redis_local_directory>:/data
