version: '3.1'
services:
  file-stashes:
    image: file-stashes:latest
    container_name: file-stashes
    depends_on:
      - mysql
      - redis
    restart: always
    ports:
      - 80:3000
    networks:
      - frontend
      - backend
    environment:
      - HOST
      - RAILS_MASTER_KEY
      - DB_USERNAME
      - DB_PASSWORD
      - DB_HOST=mysql
      - REDIS_URL=redis://redis:6379/0
  mysql:
    image: mysql:5.7
    platform: linux/x86_64
    container_name: mysql
    restart: always
    ports:
      - 3306:3306
    networks:
      - backend
    environment:
      - MYSQL_USER: $DB_USERNAME
      - MYSQL_PASSWORD: $DB_PASSWORD
  redis:
    image: redis:5.0.6
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    networks:
      - backend

networks:
  frontend:
  backend:
