<table>
  <thead>
    <tr><th>Links Created</th></tr>
  </thead>
  <tbody>
    <% @stash.tokens.each do |token| %>
      <tr><td><%= link_to token, "#{App.scheme}://#{App.host}/t/#{token}" %></td></tr>
    <% end%>
  </tbody>
</table>
